*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


body {
  background-color: #FFFFFA;
  font-family: 'Raleway', sans-serif;
  color: #F5F5F2;
}

.masthead-container {
  height: 80px;
}

.masthead-container h3 {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: black;
  top: 0px;
  left: 0px;
  padding: 10px;
  border: 10px;
  float: left;
}

.masthead-container li {
  float: right;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  font: 10px;
  color: black;
  border-left: solid 5px #A81B3E;
}


.masthead-container li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.hero-image-center {
  background-color: #6691b0;
  height: 500px;
  position: relative;
  border-radius: 3px;
}

.hero-image-center img {
  padding-top: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translate(0, -50%);
  position: relative;
}

.hero-image-center p {
  position: absolute;
  top: 5%;
  transform: translate(0, -5%);
  color: black;
  width: 375px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 0px 3px 3px 0px;
  padding-left: 100px;
}

.description-container {
  float: left;
  color: black;
  width: 500px;
  margin: 10px;
}

.form-container {
  float: left;
  color: black;
  width: 500px;
  background-color: #FFEFD7;
  padding: 20px;;
  position: relative;
  border-radius: 3px;
  margin: 10px;
  margin-left: 50px;
}

.form-container label {
  float: left;
  padding: 5px;
  margin: 2px;
  width: 70%;
}

.form-container input {
  float: left;
  padding: 5px;
  margin: 5px;
  width: 70%;
}

.form-container button {
  bottom: 10px;
  right: 30px;
  height: 35px;
  width: 75px;
  padding: 5px;
  margin: 10px; 
  border-radius: 5px;
  background-color: #92D4D6;
  border-color: #92D4D6;
  float: left;
}

.float-gallery-container {
  clear: both;
  width: 95%;
  margin: 50px 50px 0px 50px;

}

.float-gallery-container img {
  width: 290px;
  height: 290px;
  float: left;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
}
/*
--- Color list ---
#FFEFD7 - light yellow/orange background
#FFFFFA - beige background
#F5F5F2 - grey accent
#FF4E1B - orange accent
#282828 - darkgrey
#3B3B3B - active box
#92D4D6 - teal accent
#6691b0 - blue backdrop -- rgb(102, 145, 176)
#A81B3E - dark blue cover
#5D642D - dark green cover -- rgb(93,100,45)
#B1C0B3 - light green
#CFD883 - light lime
#2F2D5B - purple
#3D3863 - dark purple

-----Font family--------
font-family: 'Cinzel', serif;
font-family: 'Raleway', sans-serif;

*/
