*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background-color: #6691b0;
  font-family: 'Raleway', sans-serif;
  color: #F5F5F2;
}

.masthead-container {
  height: 80px;
  background-color: #FFFFFA;
}


.masthead-container h3 {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: black;
  top: 0px;
  left: 0px;
  padding: 10px;
  border: 10px;
  float: left;
}

.masthead-container li {
  float: right;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  font: 10px;
  border-right: solid 5px #A81B3E;
  color: black;
}

.masthead-container li a {
  text-decoration: none;
  color: black;  
  font-weight: bold;
}

.hero-image-center img {
  margin-left: auto;
  margin-right: auto;
}



/*
--- Color list ---
#FFFFFA - beige background
#F5F5F2 - grey accent
#FF4E1B - orange accent
#282828 - darkgrey
#3B3B3B - active box
#92D4D6 - teal accent
#6691b0 - blue backdrop -- rgb(102, 145, 176)
#A81B3E - dark blue cover
#5D642D - dark green cover -- rgb(93,100,45)
#B1C0B3 - light green
#CFD883 - light lime
#2F2D5B - purple
#3D3863 - dark purple

-----Font family--------
font-family: 'Cinzel', serif;
font-family: 'Raleway', sans-serif;

*/
